<!DOCTYPE html>

<html lang="" xmlns="http://www.w3.org/1999/html">
<head>
<title>Theater introduce Page</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/css/layout.css" rel="stylesheet" type="text/css" media="all">
<style type="text/css"></style>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div style="padding: 0px;" class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1 style="color:#ffffff"><a href="{{ url_for('main_page') }}">VIESHOW</a></h1>
    </div>
    <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="{{ url_for('user') }}">會員服務</a></div>
    <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="{{ url_for('search_movie_detail') }}">電影介紹</a></div>
    <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="{{ url_for('search_theater_detail') }}">影城介紹</a></div>
    <!-- ################################################################################################ -->
  </header>
</div>
    <div class="wrapper row3">
        <main style="padding:50px;" class="hoc container clear">
            <div class="Taipei-Hsin-Yi" >
                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th1.jpg" alt="台北信義威秀影城" title="台北信義威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">台北信義威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Taipei Hsin Yi</p>
                    <p class="theater_location">影城地址：台北市信義區松壽路20號</p>
                    <p class="theater_phonenum">服務專線：(02) 8780-5566</p>
                    <p class="theater_intro">台北信義威秀影城內有時髦前衛、聲光炫麗的裝潢，為全國第一座專門為放映電影而量身打造的建築設計，提供了由現成建築物改裝的傳統電影院無法擁有的舒適視聽空間。

                        世界上最棒的影廳之一的4DX影廳，威秀影城2013年獨家引進，打造『台北信義威秀影城』全台首座4DX影廳，帶給您世界級的最新影音感官全體驗效果。
                        
                        
                        為滿足觀眾視聽至高無上的享受，台北信義威秀影城應用最新科技，為未來影城之設計規劃建立新規範，也為台灣的電影院史上樹立新的里程碑。出自名室內設計師之手的17間影廳院，皆具備超大型廣角弧形銀幕及球場座位排列的座椅，提供威秀影城之觀眾寬敞舒適、無障礙的空間，為全台首座經過THX世界標準聲場環境認證的標準影廳，提供北台灣民眾世界級的影音享受。
                        
                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共40個席次)：第1、3-11、14廳-各3席，第2、15-18廳-各2席<br>
                        ●無障礙電梯：一樓服務台旁<br>
                        ●無障礙坡道：二樓第12廳前<br>
                        ●無障礙停車位：地下停車場二樓<br>
                        ●無障礙廁所<br>
                        <br>
                        本據點共17座影廳2,693席座位、40席無障礙座位，內含：<br>
                        1座4DX影廳 140個座位<br><br></p>
                </div>
           
                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th02.jpg" alt="台北京站威秀影城" title="台北京站威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">台北京站威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Taipei Qsquare </p>
                    <p class="theater_location">影城地址：台北市大同區市民大道一段209號5樓</p>
                    <p class="theater_phonenum">服務專線：(02) 2552-5511</p>
                    <p class="theater_intro">台北京站威秀影城為威秀影城全省第八家影城，也是正式更名為威秀影城後，第一家全新開幕的影城。座落於西區最大公共交通轉運樞紐的複合式商場內。經過京站時尚廣場進入台北京站威秀影城的長型手扶梯後，就是由國內知名設計團隊打造，時尚大器的入口挑高大廳；漫步入內，設計感鏤空天花版，二側步道不但有電影相關資訊，還有錯落的小店可在買票後稍做瀏覽。

                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共9個席次)：第1-10廳-各有1席<br>
                        ●無障礙電梯：一樓市民大道入口處<br>
                        ●入口指引服務：四樓手扶梯旁<br>
                        ●無障礙廁所：五樓售票處後方2間、六樓販賣處後方2間<br>
                        
                        <br>
                        本據點共9座影廳1,768席座位、9席無障礙座位。
                        <br><br><br>
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th03.jpg" alt="板橋大遠百威秀影城" title="板橋大遠百威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">板橋大遠百威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Banqiao </p>
                    <p class="theater_location">影城地址：新北市板橋區新站路28號10樓</p>
                    <p class="theater_phonenum">服務專線：(02) 7738-6608</p>
                    <p class="theater_intro">板橋大遠百威秀影城是威秀影城於新北市的第一個據點。座落於新板特區板橋大遠百複合式商場內的10樓，為全數位化影城，全面採用最先進的Christie數位二代機放映系統，並且皆有數位IMAX影廳配置，影城音響系統採用全球最先進QSC四迴路音響系統，是台灣影院中極其頂尖的音響設備。

                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共30個席次)第1廳、3-5廳和8-9廳各3席，第6廳5席，第2廳和第7廳各4席，第10廳2席<br>
                        ●無障礙電梯：大遠百7號電梯，搭至十二樓<br>
                        ●無障礙廁所：第3廳旁<br>
                        ●無障礙停車場：地下停車場 地下二樓和地下三樓<br>
                        
                        <br>
                        本據點共9座影廳2,057席座位，30席無障礙座位，內含：
                        1座 IMAX影廳 404個座位（5個無障礙座位）<br><br>
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th04.jpg" alt="中和環球威秀影城" title="中和環球威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">中和環球威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Global Mall Zhonghe </p>
                    <p class="theater_location">影城地址：新北市中和區中山路三段122號4樓 (Global Mall新北中和)</p>
                    <p class="theater_phonenum">服務專線：(02)8226-6063</p>
                    <p class="theater_intro">威秀影城於環球購物中心新北中和店，推出10座嶄新雷射影廳，座位數1,360席，帶給中永和及鄰近地區影迷更明亮的高畫質觀影體驗。
                        前後座位空間全部升級，滿足影迷觀賞電影的舒適需求；10座雷射影廳提供多元影片內容，增加場次彈性，讓觀眾能有更多選擇，打造服務影迷最全面的新穎影城。
                        
                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共25個席次)：第1廳、8-11廳各2席，第2-3廳、5-7廳-各3席<br>
                        ●無障礙電梯：中和環球3、6號電梯，搭至四樓<br>
                        ●無障礙廁所：第2廳出口<br>
                        ●障礙停車場：地下停車場及五樓停車場<br>
                        
                        本據點共10座影廳1,360席座位，25席無障礙座位。<br><br>
                        
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th05.jpg" alt="林口MITSUI OUTLET PARK威秀影城" title="林口MITSUI OUTLET PARK威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">林口MITSUI OUTLET PARK威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Linkou Mitsui Outlet Park </p>
                    <p class="theater_location">影城地址：新北市林口區文化三路一段356號3樓</p>
                    <p class="theater_phonenum">服務專線：(02) 2606-8099</p>
                    <p class="theater_intro">林口MITSUI OUTLET PARK威秀影城，為威秀影城以開創性概念打造的全新據點。
                        為了給影迷最佳觀影體驗，本據點將採取全4K影廳規格，讓影像投影畫質大幅提升，並透過優化程度使影像達到最清晰、栩栩如生效果。
                        
                        威秀影城也特別打造全新人文概念影廳「Mappa」，讓影迷在娛樂觀影之外，亦能感受濃厚的藝文色彩風格，將成為北台灣最具風格化的影城。而新北市首座4DX動感體驗影廳，也讓引頸期盼的新北市影迷們，能就近體驗全球好萊塢最夯的互動娛樂座椅效果。
                        
                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共24個席次)：第1.6廳-各2席，第2-5廳-各3席，第7-9廳-各3席，Mappa影廳-各2席<br>
                        ●無障礙廁所：三樓共6間<br>
                        ●無障礙升降設備 ：北口一樓至三樓<br>
                        <br>
                        本據點共9座影廳1,856席座位、24席無障礙座位，內含：
                        1座 ４DX影廳 144個座位（2個無障礙座位）
                        1座 Mappa影廳 125個座位（2個無障礙座位）<br><br>   
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th06.jpg" alt="桃園統領威秀影城" title="桃園統領威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">桃園統領威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Taoyuan Tonlin </p>
                    <p class="theater_location">影城地址：桃園市桃園區中正路61號9樓 (統領百貨)</p>
                    <p class="theater_phonenum">服務專線：(03) 333-3232</p>
                    <p class="theater_intro">位於桃園火車站人潮聚集處的統領百貨，組成客層多元化。舉凡學生族群到新住民、新移工、粉領族及親子家庭，都是此據點主力消費者；威秀影城首度落點桃園，就要打造給影迷們最多選擇的影城為風格。
                        為了迎接包羅萬象的各國片單，威秀影城推出20個全雷射影廳，讓桃園觀眾能享受到各式電影，給你最多影廳最多選擇；電影類型應有盡有，滿足影迷觀影期待。
                        <br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共25個席次)：第1.6.10.11.18廳-各2席，第2.3.5.7.8.9.12.13.14.15.16.17.19.20.21廳-各1席。<br>
                        ●無障礙廁所<br>
                        <br>
                        本據點共20座影廳990席座位、25席無障礙座位。
                        <br><br>
                        
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th07.jpg" alt="新竹大遠百威秀影城" title="新竹大遠百威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">新竹大遠百威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Hsinchu FE21  </p>
                    <p class="theater_location">影城地址：新竹市西大路323號8樓</p>
                    <p class="theater_phonenum">服務專線：(03) 524-1166</p>
                    <p class="theater_intro">新竹大遠百威秀影城位於新竹市西大路大遠百娛樂城8樓及10樓，引進世界級的影音設備，同步上映全球熱門的精采好片，儼然為新竹娛樂新地標，無疑地提供了新竹地區朋友更優質的娛樂生活。
                        由於座落於西大路和西門街交叉處的市中心精華區，公車等大眾工具便捷，而大遠百娛樂城本身更提供了504個停車位，287個機車停車格，可說是得天獨厚的商場地點。此外，它還緊鄰繁榮的城隍廟傳統市場，其乃是新竹市民眾長久以來休憩聚集之地!如此精華之地段，肯定讓新竹市民眾對新竹威秀的所在更增添了一份熟悉好感！
                        
                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共31個席次)：第6.7.10廳-各4席，第1.2.8.9廳-各3席，第3.5廳-各2席，GC1廳2席/GC2廳1席<br>
                        ●無障礙廁所：八樓、十樓各1間
                        
                        <br><br>
                        本據點共11座影廳1,848席座位、28席無障礙座位，內含：<br>
                        1座4DX影廳 144個座位（2個無障礙座位）<br>
                        2座GOLD CLASS影廳 87個座位（３個無障礙座位）<br><br>
                        
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th08.jpg" alt="新竹巨城威秀影城" title="新竹巨城威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">新竹巨城威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Hsinchu Big City</p>
                    <p class="theater_location">影城地址：新竹市民權路176號4樓之3</p>
                    <p class="theater_phonenum">服務專線：(03) 534-6999</p>
                    <p class="theater_intro">新竹巨城威秀影城位於新竹最大的百貨購物中心，這個以「家」的視覺風格為主要設計，採用木質色系裝潢強調舒適、潔淨的感覺。而這個新家大廳採簡約優雅的寬敞空間設計，並增加休憩的CAFÉ BAR，給桃竹苗地區的大居民們感受休閒樂活的新生活氣象！這裡絕對是所有影迷的第二個「家」，隨處可見影城貼心設計，符合影迷們的消費模式。
                        其中數位IMAX影廳可容納近300多人的座位，乃桃竹苗地區打造的首座擁有商用數位IMAX放映設備的影城，巨大弧形銀幕造完美觀影包覆感，不論坐在影廳內任何角落的觀眾，都能完全融入電影情境中，感受身置電影場景的震撼體驗！
                        
                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共30個席次)：1-2廳-4席，第3廳-3席，第5-8廳-4席、第9廳-3席<br>
                        ●無障礙電梯：如有需求請洽詢現場人員<br>
                        ●無障礙廁所：第2廳、第5廳旁<br>
                        <br>
                        
                        本據點共8座影廳2,217席座位、30席無障礙座位，內含：<br>
                        1座 IMAX影廳 260個座位（3個無障礙座位）<br><br>
                        
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th10.jpg" alt="頭份尚順威秀影城" title="頭份尚順威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">頭份尚順威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Toufen Shang Shun Mall</p>
                    <p class="theater_location">影城地址：苗栗縣頭份市中央路105號7樓</p>
                    <p class="theater_phonenum">服務專線：(037) 686-866</p>
                    <p class="theater_intro">苗栗尚順威秀影城，讓座落在山中之城的這塊土地擁有電影養份；本影城呼應素有山城之稱的苗栗，打造出山城之鑽的設計概念。影院溢綻著神秘的紫色系瑰麗質感，以歐洲古典風格為影院空間宇宙，讓人身置歐陸小城的巴洛克風格。

                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共24個席次)：第2-9廳-各有3席<br>
                        ●無障礙電梯<br>
                        ●無障礙停車位：地下室停車場一樓<br>
                        ●無障礙廁所：男化妝室入口旁<br>
                        <br>
                        
                        本據點共8座影廳1,650席座位、24席無障礙座位。<br><br>
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th09.jpeg" alt="台中大遠百威秀影城" title="台中大遠百威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">台中大遠百威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Taichung Top City</p>
                    <p class="theater_location">影城地址：台中市西屯區台灣大道三段251號13樓</p>
                    <p class="theater_phonenum">服務專線：(04) 2258-8511</p>
                    <p class="theater_intro">台中大遠百威秀影城為2011年底於台中增設的第三個據點，這座中台灣最新的複合式影城以原野大地色彩設計，有別於過去威秀影城的美式風格，將帶給中台灣民眾高水準的視聽饗宴。

                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共15個席次)：第1-2廳-各有4席，第3-8廳-各有3席<br>
                        ●無障礙電梯：台灣大道北館右方，可直達<br>
                        ●無障礙停車位：百貨停車場B2-B6皆設有<br>
                        ●無障礙廁所：1廳、5廳旁各1間<br>
                        <br>
                        
                        本據點共7座影廳1,777席座位、23席無障礙座位，內含：
                        1座IMAX影廳 355個座位（4個無障礙座位）<br><br>
                        </p>
                </div>
                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th11.jpg" alt="台中TIGER CITY威秀影城" title="台中TIGER CITY威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">台中TIGER CITY威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Taichung Tiger City</p>
                    <p class="theater_location">影城地址：台中市西屯區河南路三段120-1號4樓</p>
                    <p class="theater_phonenum">服務專線：(04) 3606-5566</p>
                    <p class="theater_intro">TIGER CITY威秀影城於2011年11月25日全新改裝開幕，眾所矚目的大台中首座商用數位IMAX影廳亦宣告正式進駐大台中。全新改裝的影城呈現出時尚奢華、簡約優雅的全新風貌，影廳內的座椅則加倍的舒適寬敞。
                        2002年1月18日威秀影城為台灣觀眾引進享譽國際之「GOLD CLASS頂級影廳」，座落於台中TIGER CITY威秀影城，為全台第一座與國際同步、獨一無二的超豪華影廳。
                         
                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共31個席次)：第1、7、9廳-各3席，第2、3、5、6、8廳-各4席，GOLD CLASS影廳-各1席<br>
                        ●無障礙電梯：一樓透明景觀電梯旁<br>
                        ●無障礙坡道：一樓廣場地下室車道入口旁<br>
                        ●無障礙停車位：地下停車場二樓與地下三樓<br>
                        <br>
                        本據點共10座影廳2,469席座位、31席無障礙座位，內含：<br>
                        1座IMAX影廳307個座位（4個無障礙座位）<br>
                        2座GOLD CLASS影廳 72個座位（各1個無障礙座位）<br><br>
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th12.jpg" alt="台中大魯閣新時代威秀影城" title="台中大魯閣新時代威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">台中大魯閣新時代威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Taichung Taroko Mall</p>
                    <p class="theater_location">影城地址：台中市東區復興路四段186號4樓 (台中大魯閣新時代購物中心)</p>
                    <p class="theater_phonenum">服務專線：(04)2228-0388</p>
                    <p class="theater_intro">威秀影城於大魯閣新時代購物中心台中店推出9座影廳，座位數逾1,781席，包括一個杜比ATMOS影廳；睽違六年重回大魯閣新時代購物中心，期待服務更多影迷們；多廳風格提供多元影片內容，增加場次彈性，讓觀眾選擇更多。
 
                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共26個席次)：第1廳、7廳各4席，第2-6廳-各3席、8-10廳-各2席<br>
                        ●無障礙電梯：台中大魯閣新時代復興路側及大智路側電梯，皆可搭至四樓影城<br>
                        ●無障礙廁所：四樓影城大廳<br>
                        ●無障礙停車場：地下停車場<br>
                        <br>
                        本據點共9座影廳1,781席座位，26席無障礙座位。<br><br>
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th13.jpg" alt="台南大遠百威秀影城" title="台南大遠百威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">台南大遠百威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Tainan FE21</p>
                    <p class="theater_location">影城地址：台南市公園路60號5樓</p>
                    <p class="theater_phonenum">服務專線：(06) 600-5566</p>
                    <p class="theater_intro">威秀影城於2002年7月5日正式在府城台南開幕，這座在台南核心地帶的威秀影城始終是年輕學生族群的最愛。經過了16年的歲月，威秀翻新本次據點，裝設了高度舒適彈性沙發座椅，讓影迷一坐上去感受前所未有的柔軟包覆。本次改裝加寬座椅間距，本來近2100席的座位少了600多席，把原本30%的空間多留給觀眾，給足影迷最寬闊的觀影體驗。

                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共10個席次)：4DX影廳設有2席(此廳設有自動升降平台)、第2-10 廳-各1席<br>
                        ●無障礙電梯：百貨一樓景觀客梯與威秀影城五樓4DX影廳旁<br>
                        ●無障礙停車位：地下停車場一樓<br>
                        ●無障礙廁所：五樓、七樓與九樓各設有1座<br>
                        <br>
                        
                        本據點共9座影廳1526 席座位、10席無障礙座位，內含：<br>
                        1座4DX影廳 140個座位（2個無障礙座位）。<br><br>
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th14.jpeg" alt="台南FOCUS 威秀影城" title="台南FOCUS 威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">台南FOCUS 威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Tainan Focus Square</p>
                    <p class="theater_location">影城地址：台南市中西區中山路166號11樓</p>
                    <p class="theater_phonenum">服務專線：(06)-222-3566</p>
                    <p class="theater_intro">威秀影城於台南市的第三個據點：台南FOCUS威秀影城。 
                        本據點以簡約時尚打造出這座年輕化的影城，寬闊明亮，讓每個造訪的觀眾覺得猶如回到家般的溫暖。全影城為全雷射投影，共計9座影廳，總座席為660席，將為府城觀眾帶來更多元選擇。亦是威秀影城在台灣的第16家影城。
                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席：18席(每個影廳2席)<br>
                        ●無障礙電梯：11-13樓1座<br>
                        ●無障礙廁所：11-13樓層均有1座<br>
                        <br>
                        本據點共9座影廳642席座位、18席無障礙座位。<br><br>
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th15.jpeg" alt="台南南紡威秀影城" title="台南南紡威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">台南南紡威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas ainan T.S. Mall</p>
                    <p class="theater_location">影城地址：A1館(1~11廳):台南市東區中華東路一段366號5樓
                        A2館(21~25廳):台南市東區中華東路一段358號B1樓</p>
                    <p class="theater_phonenum">服務專線：(06) 237-2255</p>
                    <p class="theater_intro">威秀影城以最高規格配備打造台南南紡威秀影城，讓觀影享受全面升級，一次到位！

                        A1館(1~11廳)設有一座數位IMAX影廳以及兩座GOLD CLASS頂級影廳，外加七座標準影廳；IMAX影廳使您同步體驗好萊塢最新強檔影片效果，GOLD CLASS讓您享受食尚雅緻的完美服務。
                        A2館(21廳~25廳)設有五座全雷射影廳，提供更多影片內容，讓台南南紡威秀影城成為台南最多影廳的單一影城，提供府城影迷們嶄新尊榮享受，給足各類觀影需求。
                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共37席次)：第1-8廳-各3席、第9廳-4席、第10-11廳-各1席、第21-25廳-各2席<br>
                        ●無障礙電梯：中華東路北側入口處<br>
                        ●無障礙廁所：第3廳旁、第23廳旁、GOLD CLASS影廳內亦設有<br>
                        ●無障礙購票櫃檯：INFORMATION<br>
                        ●影廳入口走道扶手設置：第1-9廳、第21-25廳皆有設置<br>
                        <br>
                        本據點共15座影廳2,555席座位、37席無障礙座位，內含：<br>
                        1座IMAX影廳 390個座位（4個無障礙座位）<br>
                        2座GOLD CLASS影廳 80個座位(2個無障礙座位)<br><br>
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th16.jpg" alt="高雄大遠百威秀影城" title="高雄大遠百威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">高雄大遠百威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Tainan T.S. Mall</p>
                    <p class="theater_location">影城地址：高雄市苓雅區三多四路21號13樓 (大遠百購物中心)</p>
                    <p class="theater_phonenum">服務專線：(07) 334-5566</p>
                    <p class="theater_intro">座落於市中心精華區的高雄威秀影城，地處高雄百貨匯集區，縱貫高雄大遠百13樓至16樓的樓層面積，強調舒適及空間感的國際級電影城，在影音設備及電影行銷活動上，帶給南台灣消費者最高品質的享受！
                        高雄捷運通車後，便捷的交通與優質的地理位置，使高雄威秀影城成為結合百貨流行、休閒娛樂與流行時尚的都會地標，滿足所有南台灣朋友們的需求。
                        <br><br>
                        
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共34個席次)：第3、5、12、13廳-各3席，第1、2、6、7、8、9、10、11、14、15廳-各2席，、第16、17廳-各1席<br>
                        ●無障礙電梯：大遠百7號電梯，搭至十二樓<br>
                        ●無障礙廁所：十三樓、十五樓男生化妝室旁邊各1間<br>
                        
                        <br><br>
                        本據點共16座影廳2,488席座位、34席無障礙座位，內含：<br>
                        1座4DX影廳 92個座位（2個無障礙座位）<br>
                        1座IMAX影廳 271個座位（3個無障礙座位）<br>
                        2座GOLD CLASS影廳 62個座位<br><br>
                        </p>
                </div>

                <div class="one_quarter first">
                    <img src="../static/images/demo/gallery/th17.jpeg" alt="花蓮新天堂樂園威秀影城" title="花蓮新天堂樂園威秀影城">
                </div>
                <div class="three_quarter">
                    <h3 class="ch_theater_name">花蓮新天堂樂園威秀影城</h3>
                    <p class="en_theater_name">Vie Show Cinemas Hualien Paradiso</p>
                    <p class="theater_location">影城地址：花蓮縣吉安鄉南濱路一段503號3樓 (花蓮新天堂樂園購物商場)</p>
                    <p class="theater_phonenum">服務專線：(03) 842-1133</p>
                    <p class="theater_intro">身為台灣影城的領導品牌，為了給影迷最佳觀影體驗，花蓮新天堂樂園威秀影城更結合IMAX雷射影廳，以超越4K嶄新光學技術，表現絢麗鮮明色彩，全新12.1聲道環繞音響體驗，全面滿足東部發燒友影迷們期待。
                        此外，也規劃了沙發廳A+廳，讓影迷除了在娛樂觀影之外，亦能以不同的形式來包廳進行主題式的活動。推出42個頂極沙發座椅，給影迷看得舒適，享受尊榮奢華。
                        由台開集團規劃興建，威秀影城管理的花蓮新天堂樂園威秀影城，以經典電影《新天堂樂園》為名，充滿了濃厚的復古電影懷舊感，但整棟建築風格都是前衛先進的科技設備。
                        
                        <br><br>
                        ※本影城為方便消費者，亦設有無障礙空間。<br>
                        ●輪椅席(共12個席次)：B至D廳-各2席，IMAX影廳-4席，A+廳-2席<br>
                        <br><br>
                        本據點共5座影廳750席座位、12席無障礙座位，內含：<br>
                        一座IMAX影廳368個座位（4個無障礙座位）<br>
                        一座A+沙發廳42個座位（2個無障礙座位）<br><br>
                        </p>
                </div>
            </div>
        </main>
    </div>


<!-- JAVASCRIPTS -->

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.backtotop.js"></script>

<!-- jquery 連結 -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jquery ui 連結 -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

</body>
</html>