<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <label>Email:</label>
            <input type="text" name="email" id="email"><br>
        </div>
        <div>
            <label>Password:</label>
            <input type="text" name="pwd" id="pwd"><br>
        </div>
        <button id='submit' type='button'>Submit</button>
        
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

        <script language="javascript" type="text/javascript">
            $("#submit").click(function(){
                var formData = new FormData();
                formData.append('email', $("#email").val());
                formData.append('pwd', $("#pwd").val());

                $.ajax({
                    type: "POST",
                    url: $SCRIPT_ROOT + "/login",
                    dataType: "json",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: (data) => {
                        if (data.login) {
                            alert("Hello")
                            location.reload()
                        } else {
                            alert("Wrong");
                            // location.href = $SCRIPT_ROOT + "/login"
                            location.reload()
                        }
                        
                    }
                });
            });

        </script>
    </body>
</html>