<!DOCTYPE html>

<html lang="">
<head>
<title>MEMBER INFO</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<style type="text/css">
/* DEMO ONLY */
.container .demo{text-align:center;}
.container .demo div{padding:8px 0;}
.container .demo div:nth-child(odd){color:#FFFFFF; background:#CCCCCC;}
.container .demo div:nth-child(even){color:#FFFFFF; background:#979797;}
@media screen and (max-width:900px){.container .demo div{margin-bottom:0;}}
/* DEMO ONLY */
</style>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div style="padding: 0px;" class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1 style="color:#ffffff"><a href="front-page.html">VIESHOW</a></h1>
    </div>
    <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="log-in-1.html">會員服務登入</a></div>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
  <!-- ################################################################################################ -->
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div  class="content">

      <!-- ################################################################################################ -->
      <h2 style="text-align:center;color: black;">會員資料</h2>
      <div style="margin-bottom:20px;" class="group btmspace-50 demo">
        <div class="one_quarter first">會員帳戶</div>
        <div style="color: #0066CC;background: #FFFFFF;" class="three_quarter">user@gmail.com</div>
      </div>
      <div style="margin-bottom:20px;" class="group btmspace-50 demo">
        <div class="one_quarter first">身分證號</div>
        <div style="color: #0066CC;background: #FFFFFF;" class="three_quarter">A123***789</div>
      </div>

        <div style="margin-bottom:20px;" class="group btmspace-50 demo">
        <div class="one_quarter first">出生日期</div>
        <div style="color: #0066CC;background: #FFFFFF;" class="three_quarter">1999/01/01</div>
      </div>
      <div style="margin-bottom:20px;" class="group btmspace-50 demo">
        <div class="one_quarter first">手機號碼</div>
        <div style="color: #0066CC;background: #FFFFFF;" class="three_quarter">0912***678</div>
      </div>
      <div  style="margin-bottom:20px;" class="group btmspace-50 demo">
        <div class="one_quarter first">目前擁有的點數</div>
        <div style="color: #0066CC;background: #FFFFFF;" class="three_quarter">1000</div>
      </div>
      <h2 style="text-align:center;" >會員資料</h2>
        <div>
          <a href="account-change.html">
      <input style="color:black;margin:auto; margin-bottom:20px; height:40px;font-size:16px;text-align:center;" type="button" value="更換帳號信箱" >
          </a>
          <a href="birth-change.html">
      <input style="color:black;margin:auto; margin-bottom:20px; height:40px;font-size:16px;text-align:center;" type="button" value="更改出生日期(僅能更換一次)" >
          </a>
          <a href="password-change1.html">
      <input style="color:black;margin:auto; margin-bottom:20px; height:40px;font-size:16px;text-align:center;" type="button" value="更改登入密碼">
         </a>

        </div>



<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>



</body>
</html>