<!DOCTYPE html>

<html lang="">
<head>
<title>PASSWORD CHANGE</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/css/layout.css" rel="stylesheet" type="text/css" media="all">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<style type="text/css">
/* DEMO ONLY */
.container .demo{text-align:center;}
.container .demo div{padding:8px 0;}
.container .demo div:nth-child(odd){color:#FFFFFF; background:#CCCCCC;}
.container .demo div:nth-child(even){color:#FFFFFF; background:#979797;}
@media screen and (max-width:900px){.container .demo div{margin-bottom:0;}}
/* DEMO ONLY */
</style>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
      <li><i class="fa fa-clock-o"></i> Mon. - Fri. 8am - 5pm</li>
      <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
      <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
      <li><a href="#" title="Login"><i class="fa fa-lg fa-sign-in"></i></a></li>
      <li><a href="#" title="Sign Up"><i class="fa fa-lg fa-edit"></i></a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="../index.html">Drywest</a></h1>
    </div>
    <div class="fl_right"><a class="btn" href="#">Quam quisque vel</a></div>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
    <nav id="mainav" class="hoc clear">
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li><a href="../index.html">Home</a></li>
        <li class="active"><a class="drop" href="#">Pages</a>
          <ul>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="full-width.html">Full Width</a></li>
            <li><a href="sidebar-left.html">Sidebar Left</a></li>
            <li><a href="sidebar-right.html">Sidebar Right</a></li>
            <li class="active"><a href="basic-grid.html">Basic Grid</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">Dropdown</a>
          <ul>
            <li><a href="#">Level 2</a></li>
            <li><a class="drop" href="#">Level 2 + Drop</a>
              <ul>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
              </ul>
            </li>
            <li><a href="#">Level 2</a></li>
          </ul>
        </li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Long Link Text</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </nav>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->

  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div  class="content">

      <!-- ################################################################################################ -->
      <h2 style="text-align:center;color: black;">建立新密碼</h2>
      <div style="text-align: center;margin-bottom:20px;" class="group btmspace-50 demo">
        <div  style="" class="one_quarter first">建立新密碼</div>
        <div style="color: #0066CC;background: #FFFFFF;" class="three_quarter"><input  required placeholder="請輸入新密碼" id="pwd"></div>
      </div>

      <div style="text-align: center;margin-bottom:20px;" class="group btmspace-50 demo">
        <div  style="" class="one_quarter first">再次輸入新密碼</div>
        <div style="color: #0066CC;background: #FFFFFF;" class="three_quarter"><input  required placeholder="請再次輸入新密碼"></div>
      </div>

        <div>


      <input style="color:black;margin:auto; margin-bottom:20px; height:40px;font-size:16px;text-align:center;" type="button" value="確認更改密碼" id="submit">


        </div>
      <div id="token" d="{{ token }}" style="display: none;"></div>
<!-- JAVASCRIPTS -->
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script language="javascript" type="text/javascript">
  $("#submit").click(function (e) {
    var formData = new FormData();
    formData.append('pwd', $("#pwd").val());
    var token = document.getElementById('token').getAttribute('d');

    $.ajax({
      type: "POST",
      url: $SCRIPT_ROOT + "/reset_password/" + token,
      dataType: "json",
      data: formData,
      contentType: false,
      processData: false,
      success: (data) => {
        if (data.repeat) {
          alert("Same password")
          location.reload()
        } else {
          alert("Success");
          location.href = $SCRIPT_ROOT + "/login"
        }
      },
      error: () => {
        alert("Error")
      }
    });
  });
</script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.backtotop.js"></script>
<script src="../static/js/jquery.mobilemenu.js"></script>
</body>
</html>