<!DOCTYPE html>

<html lang="">
<head>
<title>PASSWORD CHANGE</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/css/layout.css" rel="stylesheet" type="text/css" media="all">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<style type="text/css">
/* DEMO ONLY */
.container .demo{text-align:center;}
.container .demo div{padding:8px 0;}
.container .demo div:nth-child(odd){color:#FFFFFF; background:#CCCCCC;}
.container .demo div:nth-child(even){color:#FFFFFF; background:#979797;}
@media screen and (max-width:900px){.container .demo div{margin-bottom:0;}}
/* DEMO ONLY */
</style>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div style="padding: 0px;" class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1 style="color:#ffffff"><a href="{{ url_for('main_page') }}">VIESHOW</a></h1>
    </div>
    <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href={{ url_for('login') }}>會員服務登入</a></div>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div  class="content">

      <!-- ################################################################################################ -->
      <h2 style="text-align:center;color: black;">更改密碼</h2>
      <div style="text-align: center;margin-bottom:20px;" class="group btmspace-50 demo">
        <div  style="" class="one_quarter first">會員帳號</div>
        <div style="color: #0066CC;background: #FFFFFF;" class="three_quarter"><input  required placeholder="請輸入帳號信箱" id="email"></div>
      </div>

      <div style="text-align: center;margin-bottom:20px;" class="group btmspace-50 demo">
        <div  style="" class="one_quarter first">身分證或居留證號碼</div>
        <div style="color: #0066CC;background: #FFFFFF;" class="three_quarter"><input  required placeholder="請輸入身分證或居留證號碼" id="ID"></div>
      </div>

        <div>


      <input class='btnclass' style="color:black;margin:auto; margin-bottom:20px; height:40px;font-size:16px;text-align:center;" type="button" value="寄送驗證信" id="submit">
            <p style="color:red;text-align:center;" class='notice'></p>
            <script>
                var btn = document.querySelector('.btnclass');
                var time = document.querySelector('.notice');

                btn.addEventListener('click', function (e) {
                    time.innerHTML = "更改密碼確認信已寄至您的帳號信箱，請前往確認";
                }, false);
            </script>
        </div>
<!-- JAVASCRIPTS -->
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script language="javascript" type="text/javascript">
      $("#submit").click(function (e) {
        var formData = new FormData();
        formData.append('ID', $("#ID").val());
        formData.append('email', $("#email").val());

        $.ajax({
          type: "POST",
          url: $SCRIPT_ROOT + "/user_confirm",
          dataType: "json",
          data: formData,
          contentType: false,
          processData: false,
          success: (data) => {
            if (data.exist) {
                alert("Email has sent, Please check your mailbox.")
            } else {
              alert("The user doesn't exist.");
              location.href = $SCRIPT_ROOT + "/login"
            }
          },
          error: () => {
            alert("Error")
          }
        });
      });
    </script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.backtotop.js"></script>
<script src="../static/js/jquery.mobilemenu.js"></script>
</body>
</html>