<!DOCTYPE html>

<html lang="" xmlns="http://www.w3.org/1999/html">
<head>
<title>Ticket-order Page</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/css/layout.css" rel="stylesheet" type="text/css" media="all">
<style type="text/css">
/* DEMO ONLY */
.container .demo{text-align:center;}
.container .demo div{padding:8px 0;}
.container .demo div:nth-child(odd){color:#FFFFFF; background:#CCCCCC;}
.container .demo div:nth-child(even){color:#FFFFFF; background:#979797;}
@media screen and (max-width:900px){.container .demo div{margin-bottom:0;}}
/* DEMO ONLY */
</style>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div style="padding: 0px;" class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1 style="color:#ffffff"><a href="{{ url_for('main_page') }}">VIESHOW</a></h1>
    </div>
      <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="{{ url_for('user') }}">會員服務</a></div>
      <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="{{ url_for('search_movie_detail') }}">電影介紹</a></div>
      <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="{{ url_for('search_theater_detail') }}">影城介紹</a></div>
    <!-- ################################################################################################ -->
  </header>
</div>

<div id="app">
<div class="wrapper row3">
  <main style="padding:50px;" class="hoc container clear">

    <div class="pay_method" style="text-align:center;">
       <label class="select"><input v-model="payment" type="radio" value="0"><span class="color" style="color: black;">信用卡</span></label>
      <label class="select"><input v-model="payment" type="radio" value="1"><span class="color" style="color: black;">臨櫃付款</span></label>
      <br>
      <!-- <button type="submit" name="credit_card" id="credit_card" value="credit_card" @click="choosePayment()">信用卡</button ><br>
      <button type="submit" name="counters" id="counters" value="counters" @click="choosePayment()">臨櫃付款</button> -->
    </div>

      <div v-show="payment" class="ticket-type">
        <h3 v-if="payment === '0'" style="text-align: center;">信用卡</h3>
        <h3 v-if="payment === '1'" style="text-align: center;">臨櫃付款</h3>
      <span>{{ payment }}</span>
      <div style="margin-bottom:20px;" class="group btmspace-50 demo ticket">
        <div style="color:black;margin-bottom:20px;" class="one_quarter first ">票種</div>
        <div style="margin-bottom:20px;" class="one_quarter">價格</div>
        <div style="margin-bottom:20px;color:black;" class="one_quarter">數量</div>
        <div style="margin-bottom:20px;" class="one_quarter">合計</div>
<!--      </div>-->

<!--    <div style="text-align:center;" class="ticket-type">-->
        <div style="color:black;" class="one_quarter first">全票</div>
        <div class="one_quarter">$250</div>
        <div class="one_quarter"  style="display:table;">
          <select v-model="ticket[0]" style="margin:auto;display: inline-block;color:black;" id="regular-ticket" name="regular-ticket">
                <option value="0">請選擇全票張數</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>張
        </div>
         {% raw %}
        <div class="one_quarter">${{ ticket[0] * 250 }}<span id="total_regular"></span></div>
<!--    </div>-->

<!--    <div style="text-align:center;" class="ticket-type">-->
        <div style="color:black;" class="one_quarter first">半票</div>
        <div class="one_quarter">$190</div>
        <div class="one_quarter"  style="display:table;">
          <select v-model="ticket[1]" style="margin:auto;display:inline-block;color:black;" id="concession-ticket" name="concession-ticket">
                <option value="0">請選擇半票張數</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>張
        </div>
        <div class="one_quarter">${{ ticket[1] * 190 }}<span id="total_concession"></span></div>
<!--    </div>-->

<!--    <div style="text-align:center;" class="ticket-type">-->
        <div style="margin-bottom:20px;color:black;" class="one_quarter first">敬老票</div>
        <div style="margin-bottom:20px;" class="one_quarter">$150</div>
        <div class="one_quarter"  style="margin-bottom:20px;display:table;">
          <select v-model="ticket[2]" style="color:black;margin:auto;display: inline-block;" id="senior-ticket" name="senior-ticket">
                <option value=0>請選擇敬老票張數</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
            </select>張
        </div>
        <div style="margin-bottom:20px;" class="one_quarter">${{ ticket[2] * 150 }}<span id="total_senior"></span></div>
<!--    </div>-->

<!--    <div style="text-align:center;" class="ticket-type">-->
        <div class="one_quarter first" style="color:black;text-size:20px;font-weight:bold;">總共:</div>
        <div class="one_quarter" style="background-color:white;"></div>
        <div class="one_quarter" style="text-align:center;background-color:white;">
            <span style="color:black;display:inline-block;" id="total_num">{{ num_ticket }}</span><p style="display: inline;color:black;">張</p>
        </div>
        <div class="one_quarter" style="text-align:center;background-color:white;">
            <span style="color:black;display:inline-block;" id="total_money">{{ ticket[0] * 250 + ticket[1] * 190 + ticket[2] * 150 }}</span><p style="display: inline;color:black;">元</p>
        </div>
      <button id="food_choose" @click="chooseFood()">選擇餐飲</button>
    </div>
  </div>

  <div v-show="showFood" class="food" style="text-align:center;">
<!--      <div class="food_type" >-->
<!--          <button onclick="drink();">飲料</button>-->
<!--          <button onclick="snake();">熱食</button>-->
<!--          <button onclick="popcorn();">爆米花</button>-->
<!--      </div>-->

      <div class="drink" id="drink" style="display:flex;text-align:center;">
        <div class="large-cola" style=" align-items: center; margin: auto;">
              <p>大可樂</p>
              <p>$60</p>
              <img src="https://sales.vscinemas.com.tw/CDN/media/entity/get/ItemGraphic/10004657" /><br>

              <select v-model="num_cola[0]" style="color:black;margin:auto;display:inline-block;" id="large-cola" name="large-cola">
                    <option value="0">請選擇大可樂杯數</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
          </div>

        <div class="medium-cola" style="margin:auto;">
          <p>中可樂</p>
          <p>$55</p>
          <img src="https://sales.vscinemas.com.tw/CDN/media/entity/get/ItemGraphic/10004658"/><br>
          <select v-model="num_cola[1]" style="color:black;margin:auto;display: inline-block;" id="medium-cola" name="medium-cola">
                <option value="0">請選中可樂杯數</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>

        <div class="small-cola" style="margin:auto;">
          <p>小可樂</p>
          <p>$50</p>
          <img src="https://sales.vscinemas.com.tw/CDN/media/entity/get/ItemGraphic/10004659" /><br>
          <select v-model="num_cola[2]" style="color:black;margin:auto;display: inline-block;" id="small-cola" name="small-cola">
                <option value="0">請選擇小可樂杯數</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
      </div>

      </div>

      <div class="snake" style="display:flex;  align-items: center; ">
          <div class="hotdog" style="margin:auto;">
              <p>熱狗</p>
              <p>$110</p>
              <img src="https://sales.vscinemas.com.tw/CDN/media/entity/get/ItemGraphic/10004660" /><br>
              <select v-model="num_hotdog" style="color:black;margin:auto;display: inline-block;" id="hotdog" name="hotdog">
                    <option value="0">請選擇熱狗數量</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
          </div>

          <div class="churros" style="margin:auto;">
              <p>吉拿棒</p>
              <p>$110</p>
              <img src="https://sales.vscinemas.com.tw/CDN/media/entity/get/ItemGraphic/10004661" /><br>
              <select v-model="num_churros" style="color:black;margin:auto;display: inline-block;" id="churros" name="churros">
                    <option value="0">請選擇吉拿棒數量</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
        </div>

      </div>

      <div class="popcorn" style="display:flex;  align-items: center; ">
          <div class="large-popcorn" style="margin:auto;">
              <p>大爆米花</p>
              <p>$120</p>
            <img src="https://sales.vscinemas.com.tw/CDN/media/entity/get/ItemGraphic/10004654"/><br>

              <select v-model="num_popcorn[0]" style="color:black;margin:auto;display: inline-block;" id="large-popcorn" name="large-popcorn">
                    <option value="0">請選擇大爆米花數量</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
        </div>

          <div class="medium-popcorn" style="margin:auto;">
              <p>中爆米花</p>
              <p>$110</p>
              <img src="https://sales.vscinemas.com.tw/CDN/media/entity/get/ItemGraphic/10004655" /><br>
              <select v-model="num_popcorn[1]" style="color:black;margin:auto;display: inline-block;" id="medium-popcorn" name="medium-popcorn">
                    <option value="0">請選擇中爆米花數量</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>

          <div class="small-popcorn" style="margin:auto;">
              <p>小爆米花</p>
              <p>$100</p>
              <img src="https://sales.vscinemas.com.tw/CDN/media/entity/get/ItemGraphic/10004656" /><br>
              <select v-model="num_popcorn[2]" style="color:black;margin:auto;display: inline;" id="small-popcorn" name="small-popcorn">
                    <option value="0">請選擇小爆米花數量</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
      </div>
  </div>
    {% endraw %}
  <div  class="continue" style="margin-top:15px;text-align:right;">
    <input type="submit" style="float:right;" id="continue" value="繼續" @click="nextPage()"></input>
  </div>
</main>
</div>
</div>
    <div id="session_id" d="{{ session_id }}" style="display: none;"></div>
        <!-- var token = document.getElementById('token').getAttribute('d'); -->

<!-- JAVASCRIPTS -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.backtotop.js"></script>
<script src="../static/js/jquery.mobilemenu.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

<!-- 資料傳送 -->
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<!-- Vue app -->
<script type="module">
  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
  createApp({
    data() {
      return {
        showFood: false,
        payment: '',
        ticket: [0, 0, 0],
        num_cola: [0, 0, 0],
        num_hotdog: 0,
        num_churros: 0,
        num_popcorn: [0, 0, 0],
        session_id: ''
      }
    },
    mounted () {
      this.session_id = document.getElementById('session_id').getAttribute('d')
    },
    computed: {
      num_ticket() {
        return Number(this.ticket[0]) + Number(this.ticket[1]) + Number(this.ticket[2])
      },
      total() {
        return this.ticket[0] * 250 +this.ticket[1] * 190 +this.ticket[2] * 150
              + this.num_cola[0] * 60 + this.num_cola[1] * 55 + this.num_cola[2] * 50 
              + this.num_hotdog * 110 + this.num_churros * 110
              + this.num_popcorn[0] * 120 + this.num_popcorn[1] * 110 + this.num_popcorn[2] * 100
      }
    },
    methods: {
      chooseFood: function() {
          this.showFood = !this.showFood;
      },
      nextPage: function() {
        if (this.num_ticket == 0) {
          alert("You have to choose at least one ticket")
        }
        else {
          var yes = confirm("票數: " + this.num_ticket
                            + "\n總金額: " + this.total)
          if (yes) {
            axios.post($SCRIPT_ROOT + "/payment/" + this.session_id, {
              payment: this.payment,
              ticket: this.ticket,
              cola: this.num_cola,
              hotdog: this.num_hotdog,
              churros: this.num_churros,
              popcorn: this.num_popcorn,
              num_ticket: this.num_ticket,
              total: this.total,
            })
            .then(res => {
              console.log(res)
              location.href = $SCRIPT_ROOT + '/choose_seat';
            })
            .catch(err => {
              console.error(err); 
            })
          }
          else {}
        }
      }
    }

  }).mount('#app')
</script>
<!-- jquery 連結 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jquery ui 連結 -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">

</script>

<style>
.select {
  display: inline-block; 
}
.color {
  display: block;
  padding: 8px 10px;
  border: 1px solid #ccc;
}
.select input {
  opacity: 0;
/* 利用透明度讓選取的點看不到 */
}
input:checked+.color {
  border-color: #e3393c;
/* 當選項被點選時 checked 就改變 */
}
</style>

</body>
</html>