
<!DOCTYPE html>

<html lang="" xmlns="http://www.w3.org/1999/html">
<head>
<title>Movie Search Page</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/css/layout.css" rel="stylesheet" type="text/css" media="all">
<style type="text/css">
</style>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div style="padding: 0px;" class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1 style="color:#ffffff"><a href="front-page.html">VIESHOW</a></h1>
    </div>
    <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="log-in-1.html">會員服務登入</a></div>
    <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="search_movie.html">電影介紹</a></div>
    <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="log-in-1.html">影城介紹</a></div>
    <!-- ################################################################################################ -->
  </header>
</div>

<div class="wrapper row3">
  <main style="padding:50px;" class="hoc container clear">
    <div class="theater_intro"></div>


<!--四部電影-->
    <div class="wrapper row3">
      <main style="padding:50px 0;text-align:center;" class="hoc container clear">
        <div style="margin-bottom:20px;" class="movie_table">
              <div class="nospace clear">
                <a href="movie_detail.html" style="color: black" class="quarter">
                <div class="one_quarter first">
                    <img name="movie_poster" src="https://www.vscinemas.com.tw/vsweb/upload/film/film_20221121003.jpg"  alt="">
                    <br>
                    <p class="ch_movie_name">阿凡達：水之道</p>
                    <p class="en_movie_name">VATAR THE WAY OF WATER</p>
                    <p class="release_date">2023-2-22</p>
              </div>
                </a>
                <div class="one_quarter">
                    <img name="movie_poster" src="https://www.vscinemas.com.tw/vsweb/upload/film/film_20220927001.jpg"  alt="">
                    <br>
                    <p class="ch_movie_name">鞋貓劍客 2</p>
                    <p class="en_movie_name">PUSS IN BOOTS THE LAST WISH</p>
                </div>
                <div class="one_quarter">
                    <img name="movie_poster" src="https://www.vscinemas.com.tw/vsweb/upload/film/film_20221121012.jpg" alt="">
                    <br>
                    <p class="ch_movie_name">灌籃高手 電影版 THE FIRST SLAM DUNK</p>
                    <p class="en_movie_name">THE FIRST SLAM DUNK</p>
                </div>
                <div class="one_quarter">
                    <img name="movie_poster" src="https://www.vscinemas.com.tw/vsweb/upload/film/film_20221018013.jpg" alt="">
                    <br>
                    <p class="ch_movie_name">黑豹 2：瓦干達萬歲</p>
                    <p class="en_movie_name">BLACK PANTHER WAKANDA FOREVER</p>
                </div>
              </div>
        </div>
      </main>
    </div>
<!--三部電影-->
    <div class="wrapper row3">
      <main style="padding:50px 0;text-align:center;" class="hoc container clear">
        <div style="margin-bottom:20px;" class="movie_table">
              <div class="nospace clear">
                <div class="one_quarter first">
                    <img name="movie_poster" src=""  alt="">
                    <br>
                    <p class="ch_movie_name"></p>
                    <p class="en_movie_name"></p>
              </div>
                <div class="one_quarter">
                    <img name="movie_poster" src=""  alt="">
                    <br>
                    <p class="ch_movie_name"></p>
                    <p class="en_movie_name"></p>
                </div>
                <div class="one_quarter">
                    <img name="movie_poster" src="" alt="">
                    <br>
                    <p class="ch_movie_name"></p>
                    <p class="en_movie_name"></p>
                </div>
              </div>
        </div>
      </main>
    </div>
<!--兩部電影-->
    <div class="wrapper row3">
      <main style="padding:50px 0;text-align:center;" class="hoc container clear">
        <div style="margin-bottom:20px;" class="movie_table">
              <div class="nospace clear">
                <div class="one_quarter first">
                    <img name="movie_poster" src=""  alt="">
                    <br>
                    <p class="ch_movie_name"></p>
                    <p class="en_movie_name"></p>
              </div>
                <div class="one_quarter">
                    <img name="movie_poster" src=""  alt="">
                    <br>
                    <p class="ch_movie_name"></p>
                    <p class="en_movie_name"></p>
                </div>
              </div>
        </div>
      </main>
    </div>
<!--一部電影-->
 <div class="wrapper row3">
      <main style="padding:50px 0;text-align:center;" class="hoc container clear">
        <div style="margin-bottom:20px;" class="movie_table">
              <div class="nospace clear">
                <div class="one_quarter first">
                    <img name="movie_poster" src=""  alt="">
                    <br>
                    <p class="ch_movie_name"></p>
                    <p class="en_movie_name"></p>
              </div>
              </div>
        </div>
      </main>
    </div>





<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(){
    let quarter = document.getElementById('quarter');
    quarter.addEventListener('mouseover', function() {
      this.style.backgroundColor = 'blue';
    })
  })
</script>

<!-- jquery 連結 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jquery ui 連結 -->
<script src = "../static/jquery2.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>



</body>
</html>



