<!DOCTYPE html>

<html lang="" xmlns="http://www.w3.org/1999/html">
<head>
<title>seat choose Page</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<style type="text/css"></style>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div style="padding: 0px;" class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1 style="color:#ffffff"><a href="front-page.html">VIESHOW</a></h1>
    </div>
    <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="log-in-1.html">會員服務登入</a></div>
    <!-- ################################################################################################ -->
  </header>
</div>

<div class="wrapper row3">
  <main style="padding:50px;align-item:center;" class="hoc container clear">
  <div class="ticket-info">
      <h1 id="movie_name_ch"><strong>阿凡達</strong></h1>
      <p id="movie_name_en">AVATAR THE WAY OF WATER</p>
      <p id="theater">台北威秀影城</p>
      <p id="time"><strong>12/31 17:20</strong></p>
      <p id="ticket-type"></p><p id="ticket_num">張</p>
  </div>


  <div style="display:flex"  class="showcase_class">
        <div class="available" style="display:flex" >
            <div style="margin:0px;" class="seat_example"></div>
            Available
        </div>

        <div class="selected" style="display:flex" >
             <div class="seat_seatshow"></div>
            Selected
        </div>

          <div class="occupied" style="display:flex" >
             <div class="seat_occupied"></div>
            Occupied
        </div>

<!--        <div class="one_quarter">Occupied</div>-->
      </div>

<!--      <lu class="showcase">-->
<!--          <li>-->
<!--              <div class="seat"></div>-->
<!--              <small>Available</small>-->
<!--          </li>-->
<!--          <li>-->
<!--              <div class="seat_seatshow"></div>-->
<!--              <small>Selected</small>-->
<!--          </li>-->
<!--          <li>-->
<!--              <div class="seat_occupied"></div>-->
<!--              <small>Occupied</small>-->
<!--          </li>-->
<!--      </lu>-->
  <div class="seat-container">
      <div class="screen"><p>螢幕</p></div>

      <div style="display:flex;" class="seat-table">
        <form id="seat-form">

          <div  style="display:flex;" class="left_seat">
              <div  class="row">
                  <div class="seat"><input type="button" name="seat" value="A1" id="A1"></div>
                  <div class="seat"><input type="button" name="seat" value="B1" id="B1"></div>
                  <div class="seat"><input type="button" name="seat" value="C1" id="C1"></div>
                  <div class="seat"><input type="button" name="seat" value="D1" id="D1"></div>
                  <div class="seat"><input type="button" name="seat" value="E1" id="E1"></div>
                  <div class="seat"><input type="button" name="seat" value="F1" id="F1"></div>
                  <div class="seat"><input type="button" name="seat" value="G1" id="G1"></div>
                  <div class="seat"><input type="button" name="seat" value="H1" id="H1"></div>
                  <div class="seat"><input type="button" name="seat" value="I1" id="I1"></div>
                  <div class="seat"><input type="button" name="seat" value="J1" id="J1"></div>
              </div>
              <div style="text-align:center;" class="row">
                  <div class="seat"><input type="button" name="seat" value="A2" id="A2"></div>
                  <div class="seat"><input type="button" name="seat" value="B2" id="B2"></div>
                  <div class="seat"><input type="button" name="seat" value="C2" id="C2"></div>
                  <div class="seat"><input type="button" name="seat" value="D2" id="D2"></div>
                  <div class="seat"><input type="button" name="seat" value="E2" id="E2"></div>
                  <div class="seat"><input type="button" name="seat" value="F2" id="F2"></div>
                  <div class="seat"><input type="button" name="seat" value="G2" id="G2"></div>
                  <div class="seat"><input type="button" name="seat" value="H2" id="H2"></div>
                  <div class="seat"><input type="button" name="seat" value="I2" id="I2"></div>
                  <div class="seat"><input type="button" name="seat" value="J2" id="J2"></div>
              </div>

          </div>

          <div  style="display:flex;" class="center_seat">
              <div  class="row">
                  <div class="seat"><input type="button" name="seat" value="A3" id="A3"></div>
                  <div class="seat"><input type="button" name="seat" value="B3" id="B3"></div>
                  <div class="seat"><input type="button" name="seat" value="C3" id="C3"></div>
                  <div class="seat"><input type="button" name="seat" value="D3" id="D3"></div>
                  <div class="seat"><input type="button" name="seat" value="E3" id="E3"></div>
                  <div class="seat"><input type="button" name="seat" value="F3" id="F3"></div>
                  <div class="seat"><input type="button" name="seat" value="G3" id="G3"></div>
                  <div class="seat"><input type="button" name="seat" value="H3" id="H3"></div>
                  <div class="seat"><input type="button" name="seat" value="I3" id="I3"></div>
                  <div class="seat"><input type="button" name="seat" value="J3" id="J3"></div>
              </div>

              <div  class="row">
                  <div class="seat"><input type="button" name="seat" value="A4" id="A4"></div>
                  <div class="seat"><input type="button" name="seat" value="B4" id="B4"></div>
                  <div class="seat"><input type="button" name="seat" value="B4" id="C4"></div>
                  <div class="seat"><input type="button" name="seat" value="D4" id="D4"></div>
                  <div class="seat"><input type="button" name="seat" value="E4" id="E4"></div>
                  <div class="seat"><input type="button" name="seat" value="F4" id="F4"></div>
                  <div class="seat"><input type="button" name="seat" value="G4" id="G4"></div>
                  <div class="seat"><input type="button" name="seat" value="H4" id="H4"></div>
                  <div class="seat"><input type="button" name="seat" value="I4" id="I4"></div>
                  <div class="seat"><input type="button" name="seat" value="J4" id="j4"></div>
              </div>

              <div style="text-align:center;" class="row">
                  <div class="seat"><input type="button" name="seat" value="A5" id="A5"></div>
                  <div class="seat"><input type="button" name="seat" value="B5" id="B5"></div>
                  <div class="seat"><input type="button" name="seat" value="C5" id="C5"></div>
                  <div class="seat"><input type="button" name="seat" value="D5" id="D5"></div>
                  <div class="seat"><input type="button" name="seat" value="E5" id="E5"></div>
                  <div class="seat"><input type="button" name="seat" value="F5" id="F5"></div>
                  <div class="seat"><input type="button" name="seat" value="G5" id="G5"></div>
                  <div class="seat"><input type="button" name="seat" value="H5" id="H5"></div>
                  <div class="seat"><input type="button" name="seat" value="I5" id="I5"></div>
                  <div class="seat"><input type="button" name="seat" value="J5" id="J5"></div>
              </div>
              <div  class="row">
                  <div class="seat"><input type="button" name="seat" value="A6" id="A6"></div>
                  <div class="seat"><input type="button" name="seat" value="B6" id="B6"></div>
                  <div class="seat"><input type="button" name="seat" value="C6" id="C6"></div>
                  <div class="seat"><input type="button" name="seat" value="D6" id="D6"></div>
                  <div class="seat"><input type="button" name="seat" value="E6" id="E6"></div>
                  <div class="seat"><input type="button" name="seat" value="F6" id="F6"></div>
                  <div class="seat"><input type="button" name="seat" value="G6" id="G6"></div>
                  <div class="seat"><input type="button" name="seat" value="H6" id="H6"></div>
                  <div class="seat"><input type="button" name="seat" value="I6" id="I6"></div>
                  <div class="seat"><input type="button" name="seat" value="J6" id="J6"></div>
              </div>
              <div  class="row">
                  <div class="seat"><input type="button" name="seat" value="A7" id="A7"></div>
                  <div class="seat"><input type="button" name="seat" value="B7" id="B7"></div>
                  <div class="seat"><input type="button" name="seat" value="C7" id="C7"></div>
                  <div class="seat"><input type="button" name="seat" value="D7" id="D7"></div>
                  <div class="seat"><input type="button" name="seat" value="E7" id="E7"></div>
                  <div class="seat"><input type="button" name="seat" value="F7" id="F7"></div>
                  <div class="seat"><input type="button" name="seat" value="G7" id="G7"></div>
                  <div class="seat"><input type="button" name="seat" value="H7" id="H7"></div>
                  <div class="seat"><input type="button" name="seat" value="I7" id="I7"></div>
                  <div class="seat"><input type="button" name="seat" value="J7" id="J7"></div>
              </div>

          </div>

          <div  style="display:flex;" class="right_seat">
              <div  class="row">
                  <div class="seat"><input type="button" name="seat" value="A8" id="A8"></div>
                  <div class="seat"><input type="button" name="seat" value="B8" id="B8"></div>
                  <div class="seat"><input type="button" name="seat" value="C8" id="C8"></div>
                  <div class="seat"><input type="button" name="seat" value="D8" id="D8"></div>
                  <div class="seat"><input type="button" name="seat" value="E8" id="E8"></div>
                  <div class="seat"><input type="button" name="seat" value="F8" id="F8"></div>
                  <div class="seat"><input type="button" name="seat" value="G8" id="G8"></div>
                  <div class="seat"><input type="button" name="seat" value="H8" id="H8"></div>
                  <div class="seat"><input type="button" name="seat" value="I8" id="I8"></div>
                  <div class="seat"><input type="button" name="seat" value="J8" id="J8"></div>
              </div>
              <div style="text-align:center;" class="row">
                  <div class="seat"><input type="button" name="seat" value="A9" id="A9"></div>
                  <div class="seat"><input type="button" name="seat" value="B9" id="B9"></div>
                  <div class="seat"><input type="button" name="seat" value="C9" id="C9"></div>
                  <div class="seat"><input type="button" name="seat" value="D9" id="D9"></div>
                  <div class="seat"><input type="button" name="seat" value="E9" id="E9"></div>
                  <div class="seat"><input type="button" name="seat" value="F9" id="F9"></div>
                  <div class="seat"><input type="button" name="seat" value="G9" id="G9"></div>
                  <div class="seat"><input type="button" name="seat" value="H9" id="H9"></div>
                  <div class="seat"><input type="button" name="seat" value="I9" id="I9"></div>
                  <div class="seat"><input type="button" name="seat" value="J9" id="J9"></div>
              </div>
          </div>
      </div>
      </form>

  </div>


</div>
<script>
    const form = document.getElementById('seat-form');
    const seats = [];

for (const element of form.elements) {
  if (element.type == 'button' && element.clic()k) {
    seats.push(element.value);
  }
}

console.log(seats); // ['A1', 'C1']

</script>


<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<!--電影選座位-->

<!--ocalStorage.setItem(key,vatue）是本地存储，永久性的，将value存储在hey字段&ndash;&gt;-->
<script language="javascript">
function setMovieData (movieIndex, moviePrice){
localStorage.setItem('selectedMovieIndex',movieIndex);
localStorage.setItem('selectedMoviePrice',moviePrice);
}
</script>
<!--.map()返回一个新数组，里面存着选择的座位的index-->
<!--cost seatsIndex=[...selectedSeats].map(seat=>[...seats].indexOf(seat));//存储在本地-->
<!--localStorage.setItem("selectedSeats",JSON.stringify(seatsIndex));//计算选择的座位数量，并写到hum里-->
<!--num. innerText=selectedSeatsCount;//计算总价格-->

<script language="javascript">
function updateSelectedCount(){
    cost selectedSeats = document.querySelectorAll(.seat.selected');
    cost seatsIndex=[...selectedSeats].map(seat=>[...seats].indexOf(seat));
    localStorage.setItem("selectedSeats",JSON.stringify(seatsIndex));
    cost selectedSeatsCount-selectedSeats.length;
    num. innerText=selectedSeatsCount;
    price.innerText-selectedSeatsCount*ticketPrice;
    setMovieData(movieSelect.selectedIndex,movieSel);

    setMovieData(movieSelect.selectedIndex,movieSelect.value);
}
</script>

<!--//从Localstorage 获取数据selectedseats数据，#把被选中的seat加一个selected属性，更新-->
<!--//JSON.parse(）方法将数据特换为 Javascript 对家。-->
<!--        //加屬性.selected-->

<script language="JavaScript">
function populateUI(){
    selectedSeats=JSON.parse(localStorage.getItem('selectedSeats'));

    if (selectedSeats != null && selectedSeats. length>0){
        seats.forEach((seat, index)=>{
            if(selectedSeats.indexOf(index)>-1){
                seat.classlist.add('selected');
            }
        });
    }
}
</script>
<!--    //点击seat事件-->
<script language="JavaScript">
container.addEventListener('click', e => {
    if(
        e.target.classList.contains('seat')&&
        !e.target.classList.contains('occupied')
    ){
        e.target.classList.toggle('selected');

        updateSelectedCount();
        }
    });
</script>

<script>
<!--檢查重複-->
  function input_check(){
      var n1 = document.getElementById("phone_num");
      var n2 = document.getElementById("phone_num_correct");
      var e1 = document.getElementById("email");
      var e2 = document.getElementById("email_correct");
      var p1 = document.getElementById("pwd");
      var p2 = document.getElementById("pwd_correct");


      if(n1.value !=  n2.value && e1.value !=  e2.value && p1.value !=  p2.value){
      alert("兩次電話號碼、帳號信箱與密碼皆輸入不同，請重新輸入");
          n2.value="";
          e2.value="";
          p2.value="";
      }
      else if(n1.value !=  n2.value && e1.value !=  e2.value){
      alert("兩次電話號碼與帳號信箱輸入不同，請重新輸入");
          n2.value="";
          e2.value="";
      }
      else if(e1.value !=  e2.value && p1.value !=  p2.value){
      alert("兩次帳號信箱與密碼輸入不同，請重新輸入");
          e2.value="";
          p2.value="";
      }
      else if(p1.value !=  p2.value){
      alert("兩次電話號碼與密碼輸入不同，請重新輸入");
          p2.value="";
          n2.value="";
      }
      else if(n1.value !=  n2.value){
      alert("兩次電話號碼輸入不同，請重新輸入");
          n2.value="";
      }
      else if(e1.value !=  e2.value){
      alert("兩次帳號信箱輸入不同，請重新輸入");
          e2.value="";
      }
      else if(p1.value !=  p2.value){
      alert("兩次密碼輸入不同，請重新輸入");
          p2.value="";
      };
  };
</script>
<script language="javascript">
    <!-- 出生日期 -->
    var myDate = new Date;
    var year = myDate.getFullYear(); //获取当前年
    var mon = myDate.getMonth()+1 < 10 ? "0"+(myDate.getMonth()+1) : (myDate.getMonth()+1);//
    var dat = myDate.getDate() < 10 ? "0"+myDate.getDate() : myDate.getDate();
    $("#birth_date").attr("max",year+"-"+mon+"-"+dat);

<!-- 資料傳送 -->
</script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script language="javascript" type="text/javascript">
    $("#submit").click(function(e){
        var formData = new FormData();
        formData.append('id_code', $("#id_code").val());
        formData.append('email', $("#email").val());
        formData.append('pwd', $("#pwd").val());
        formData.append('first_name', $("#first_name").val());
        formData.append('last_name', $("#last_name").val());
        formData.append('birth_date', $("#birth_date").val());
        formData.append('phone_num', $("#phone_num").val());


        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/signup",
            dataType: "json",
            data: formData,
            contentType: false,
            processData: false,
            success: (data) => {
                if (data.login) {
                    alert("Hello")
                    location.reload()
                } else {
                    alert("Wrong");
                    // location.href = $SCRIPT_ROOT + "/signup"
                    location.reload()
                }

            },
            error: () => {
                alert("Error")
            }
        });
    });


</script>

<!-- jquery 連結 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jquery ui 連結 -->
<script src = "../static/jquery2.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">

</script>

<!-- 資料傳送 -->
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script language="javascript" type="text/javascript">



    $("credit_card").click(function(e){
        var formData = new FormData();
        formData.append('credit_card', $("#credit_card").val());



        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/signup",
            dataType: "json",
            data: formData,
            contentType: false,
            processData: false,
            success: (data) => {
                if (data.login) {
                    alert("Hello")
                    location.reload()
                } else {
                    alert("Wrong");
                    // location.href = $SCRIPT_ROOT + "/signup"
                    location.reload()
                }

            },
            error: () => {
                alert("Error")
            }
        });
    });

    $("counters").click(function(e){
        var formData = new FormData();
        formData.append('counters', $("#counters").val());



        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/signup",
            dataType: "json",
            data: formData,
            contentType: false,
            processData: false,
            success: (data) => {
                if (data.login) {
                    alert("Hello")
                    location.reload()
                } else {
                    alert("Wrong");
                    // location.href = $SCRIPT_ROOT + "/signup"
                    location.reload()
                }

            },
            error: () => {
                alert("Error")
            }
        });
    });


</script>
</body>
</html>