<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    <link rel="shortcut icon" href="#"/>
    <!-- jquery 連結 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- jquery ui 連結 -->
    <script src = "../static/jquery1.js"></script>



</head>
<body>

<div>
<select id="selector">
  <option value="None">請點此選擇內容</option>
  <option value="value_A">架站盒子</option>
  <option value="value_B">kumo.tw</option>
</select>
  <p>
  即時顯示文字：<span id="es"></span><br>
  即時顯示Ｖ值：<span id="esv"></span>
  </p>
</div>

<!--        <p>2.年段：(至少一項)</p>-->
<!-- <div class="button2">-->
<!--    <button class = 'child1' id = 'baby'  onclick = 'child1(),baby();'>幼兒園</button>-->
<!--    <button class = 'child2' id = 'child' onclick = 'child2(),child();'>國小</button>-->
<!--    <button class = 'child3' id = 'adolo' onclick = 'child3(),adolo();'>國中</button>-->
<!--        <div id = 'child1'>-->
<!--         <ul>-->
<!--            <li>選取幼兒園第一優先條件</li>-->
<!--         </ul>-->
<!--            <div class = 'childbuttons'>-->
<!--                <button id ='b1' onclick ='b1();'>公立</button>-->
<!--                <button id ='b2' style="width: 120px;height: 45px;" onclick ='b2();'>安全問題</button>-->
<!--                <button id ='b3' style="width: 120px;height: 45px;" onclick ='b3();' >硬體設施</button>-->
<!--            </div>-->
<!--         <ul>-->
<!--            <li>選取幼兒園第二優先條件</li>-->
<!--         </ul>-->
<!--            <div class = 'childbuttons'>-->
<!--                <button id ='b4' onclick ='b4();'>公立</button>-->
<!--                <button id ='b5' style="width: 120px;height: 45px;" onclick ='b5();'>安全問題</button>-->
<!--                <button id ='b6' style="width: 120px;height: 45px;" onclick ='b6();' >硬體設施</button>-->
<!--            </div>-->
<!--         <ul>-->
<!--            <li>選取幼兒園第三優先條件</li>-->
<!--         </ul>-->
<!--            <div class = 'childbuttons'>-->
<!--                <button id ='b7' onclick ='b7();'>公立</button>-->
<!--                <button id ='b8' style="width: 120px;height: 45px;" onclick ='b8();'>安全問題</button>-->
<!--                <button id ='b9' style="width: 120px;height: 45px;" onclick ='b9();' >硬體設施</button>-->
<!--            </div>-->
<!--        </div>-->
<!-- </div>-->
<!-- <div class="button3">-->
<!--            &lt;!&ndash; 國小 &ndash;&gt;-->
<!--        <div id = 'child2'>-->
<!--         <ul>-->
<!--            <li>選取國小第一優先條件</li>-->
<!--         </ul>-->
<!--            <div class = 'childbuttons'>-->
<!--                <button id = 'c1' onclick = 'c1();'>公立</button>-->
<!--                <button id = 'c2' onclick = 'c2();'style="width: 120px;height: 45px;">社團</button>-->
<!--                <button id = 'c3' onclick = 'c3();' style="width: 120px;height: 45px;">學校特色</button>-->
<!--            </div>-->
<!--         <ul>-->
<!--            <li>選取國小第二優先條件</li>-->
<!--         </ul>-->
<!--            <div class = 'childbuttons'>-->
<!--                <button id = 'c4' onclick = 'c4();'>公立</button>-->
<!--                <button id = 'c5' onclick = 'c5();'style="width: 120px;height: 45px;">社團</button>-->
<!--                <button id = 'c6' onclick = 'c6();' style="width: 120px;height: 45px;">學校特色</button>-->
<!--            </div>-->
<!--         <ul>-->
<!--            <li>選取國小第三優先條件</li>-->
<!--         </ul>-->
<!--            <div class = 'childbuttons'>-->
<!--                <button id = 'c7' onclick = 'c7();'>公立</button>-->
<!--                <button id = 'c8' onclick = 'c8();'style="width: 120px;height: 45px;">社團</button>-->
<!--                <button id = 'c9' onclick = 'c9();' style="width: 120px;height: 45px;">學校特色</button>-->
<!--            </div>-->
<!--        </div>-->
<!-- </div>-->










        <p>手機號碼</p>
      <div style="text-align: center;margin-bottom:20px;" class="group btmspace-50 demo">
        <div  style="color: #4d4d4d;background: #FFFFFF;" class="one_quarter first"><input type="text" name='phone_num' id="phone_num"  required="required" maxlength="10" pattern="09\d{8}" placeholder="0900000000"></div>
        <div style="color: #4d4d4d;background: #FFFFFF;" class="three_quarter"><input type="text" name='phone_num_correct' id="phone_num_correct"  required="required" maxlength="10" pattern="09\d{8}" placeholder="請再輸入一次手機號碼" ></div>

      </div>
      <button style="color:white;background-color:#337ab7; margin-bottom:20px; height:36 px;width:95 px;font-size:16px;text-align:center;" id="submit" type="submit" onblur="phonenum_check()">登入</button>

<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<script>

$("#selector").on("change", function() {
  $("#selector option:selected").each(function () {
    $("#es").html($(this).html());
    $("#esv").html($(this).val());
  });
});

</script>
<script>
<!--檢查重複-->
function phonenum_check(){
    var n1 = document.getElementById("phone_num");
    var n2 = document.getElementById("phone_num_correct");

    if(n1.value !=  n2.value){
    alert("兩次電話不同");
        n2.value="";
    }
};

    $("#selector").on("change", function() {
  $("#selector option:selected").each(function () {
    $("#theater_name").html($(this).html());
    $("#theater_value").html($(this).val());
  });
});

$("#selector").click(function(e) {
	console.log("click");
		});
$("#selector").change(function(e) {
	console.log("change");
		});


function showText(){
    var selectopt = $("selector option:select");
    console.log(selectopt.val(),selectopt.text());
    }


$("#selector").on("change", function() {
  $("#selector option:click").each(function () {
  $("theater_value").html($(this).html());
  alter('haha');
  });
});
</script>

</body>
</html>