<div id="app">
  <select v-model="selected" name="" id="fds">
    <option value="1">A</option>
    <option value="2">B</option>
  </select>
  <!-- <p v-if="selected == '1' ">TEST</p> -->
  <header class="heading" id = "movie1">台北信義威秀影城</header>
  <ul class="nospace clear">
    <li v-for="(item, index) in array" class="one_quarter first"><input type="button" name="movie" @click="storeMovie(index + 1)"></input>
      {{ item }}<br>{{ item }}</li>
  </ul>
</div>
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>
<script type="module">
  import { createApp } from 'vue'
  createApp({
    data() {
      return {
        selected: '',
        array: [
          "a", "b", "c"
        ]
      }
    },
    mounted () {

    },
    methods: {
      storeMovie: function(index) {
        console.log(index)
      }
    }
  }).mount('#app')
</script>