<!DOCTYPE html>

<html lang="" xmlns="http://www.w3.org/1999/html">
<head>
<title>Ticket-detail Page</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/css/layout.css" rel="stylesheet" type="text/css" media="all">
<style type="text/css"></style>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div style="padding: 0px;" class="wrapper row1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1 style="color:#ffffff"><a href="{{ url_for('main_page') }}">VIESHOW</a></h1>
    </div>
    <div style="background-color:#2660a9; " class="fl_right"><a class="btn" href="{{ url_for('user') }}">會員服務專區</a></div>
    <!-- ################################################################################################ -->
  </header>
</div>

<div class="wrapper row3">
  <main style="padding:50px;" class="hoc container clear">
  <div><h1 style="display : inline;">您已完成訂票，請於開場</h1>
      <h1 style="color:red;display : inline;">15</h1>
      <h1 style="display : inline;">分鐘前完成取票</h1><br>
        <p>本次訂票紀錄如下：</p>
  </div>
  <div class="ticket-info">
      <h1 id="movie_name_ch"><strong>阿凡達</strong></h1>
      <p id="movie_name_en">Afenda</p>
      <p id="theater">台北</p>
      <p id="time"><strong>12/31 17:20</strong></p>
      <p id="ticket-type"></p><p id="ticket_num">張</p>
  </div>






<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<script>
<!--檢查重複-->
  function input_check(){
      var n1 = document.getElementById("phone_num");
      var n2 = document.getElementById("phone_num_correct");
      var e1 = document.getElementById("email");
      var e2 = document.getElementById("email_correct");
      var p1 = document.getElementById("pwd");
      var p2 = document.getElementById("pwd_correct");


      if(n1.value !=  n2.value && e1.value !=  e2.value && p1.value !=  p2.value){
      alert("兩次電話號碼、帳號信箱與密碼皆輸入不同，請重新輸入");
          n2.value="";
          e2.value="";
          p2.value="";
      }
      else if(n1.value !=  n2.value && e1.value !=  e2.value){
      alert("兩次電話號碼與帳號信箱輸入不同，請重新輸入");
          n2.value="";
          e2.value="";
      }
      else if(e1.value !=  e2.value && p1.value !=  p2.value){
      alert("兩次帳號信箱與密碼輸入不同，請重新輸入");
          e2.value="";
          p2.value="";
      }
      else if(p1.value !=  p2.value){
      alert("兩次電話號碼與密碼輸入不同，請重新輸入");
          p2.value="";
          n2.value="";
      }
      else if(n1.value !=  n2.value){
      alert("兩次電話號碼輸入不同，請重新輸入");
          n2.value="";
      }
      else if(e1.value !=  e2.value){
      alert("兩次帳號信箱輸入不同，請重新輸入");
          e2.value="";
      }
      else if(p1.value !=  p2.value){
      alert("兩次密碼輸入不同，請重新輸入");
          p2.value="";
      };
  };
</script>
<script language="javascript">
    <!-- 出生日期 -->
    var myDate = new Date;
    var year = myDate.getFullYear(); //获取当前年
    var mon = myDate.getMonth()+1 < 10 ? "0"+(myDate.getMonth()+1) : (myDate.getMonth()+1);//
    var dat = myDate.getDate() < 10 ? "0"+myDate.getDate() : myDate.getDate();
    $("#birth_date").attr("max",year+"-"+mon+"-"+dat);
</script>
<!-- 資料傳送 -->
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script language="javascript" type="text/javascript">
    $("#submit").click(function(e){
        var formData = new FormData();
        formData.append('id_code', $("#id_code").val());
        formData.append('email', $("#email").val());
        formData.append('pwd', $("#pwd").val());
        formData.append('first_name', $("#first_name").val());
        formData.append('last_name', $("#last_name").val());
        formData.append('birth_date', $("#birth_date").val());
        formData.append('phone_num', $("#phone_num").val());


        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/signup",
            dataType: "json",
            data: formData,
            contentType: false,
            processData: false,
            success: (data) => {
                if (data.login) {
                    alert("Hello")
                    location.reload()
                } else {
                    alert("Wrong");
                    // location.href = $SCRIPT_ROOT + "/signup"
                    location.reload()
                }

            },
            error: () => {
                alert("Error")
            }
        });
    });


</script>

<!-- jquery 連結 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jquery ui 連結 -->
<script src = "../static/jquery2.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">

</script>

<!-- 資料傳送 -->
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script language="javascript" type="text/javascript">



    $("credit_card").click(function(e){
        var formData = new FormData();
        formData.append('credit_card', $("#credit_card").val());



        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/signup",
            dataType: "json",
            data: formData,
            contentType: false,
            processData: false,
            success: (data) => {
                if (data.login) {
                    alert("Hello")
                    location.reload()
                } else {
                    alert("Wrong");
                    // location.href = $SCRIPT_ROOT + "/signup"
                    location.reload()
                }

            },
            error: () => {
                alert("Error")
            }
        });
    });

    $("counters").click(function(e){
        var formData = new FormData();
        formData.append('counters', $("#counters").val());



        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/signup",
            dataType: "json",
            data: formData,
            contentType: false,
            processData: false,
            success: (data) => {
                if (data.login) {
                    alert("Hello")
                    location.reload()
                } else {
                    alert("Wrong");
                    // location.href = $SCRIPT_ROOT + "/signup"
                    location.reload()
                }

            },
            error: () => {
                alert("Error")
            }
        });
    });


</script>
</body>
</html>